html, body
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	background-color: rgb(199, 226, 242);
}
input, select, button
{
	border: none;
	border-radius: 10%;
	/* background: none; */
	cursor: pointer;
	/* min-width: 70px; */
	min-width: 20px;
	max-width: 60px;
	min-height: 50px;
	max-height: 60px;
	color: rgb(14, 14, 14);

}
button
{
	background: none;
	max-width: none;
}
